/* Fondo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: url('/img/gallery3.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor del login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Caja del formulario */
.login-box {
    background: rgba(255, 255, 255, 0.2); /* Transparente */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    text-align: center;
    width: 300px;
    color: white;
}

/* Estilo del título */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/* Grupo de entrada */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #ffeba7;
}

/* Botón */
.btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background: #ffeba7;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #000;
    color: #ffeba7;
}
.back-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffeba7;
    text-decoration: none;
    margin-bottom: 15px;
}

.back-link i {
    margin-right: 8px;
}

.back-link:hover {
    color: #c4c3ca;
}
